<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nfield" value="https://niposoftware.pkgs.visualstudio.com/_packaging/nfield/nuget/v3/index.json" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nfield>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="fd57imv3yt3kdo4t33krbw3s2azoukweaxqhksrn4raphozjpjzq" />
    </nfield>
  </packageSourceCredentials>
</configuration>
